@import "colors.scss";

#background-img {
   height: 100vh;
   width: 100vw; 
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
   }
}

#remember_me {
    border: 2px solid $bg-dropdown; 
    color: $main-font;
}


/* 
#password {
    border: 2px solid $bg-dropdown;
} */

.custom-background {
    background-color: $bg-color; 
}

// #description {
//     background-color: $bg-dropdown;
//     width: 100%;
//     text-align: center;
//  }


.nav-wrapper{
    display: flex;
    align-items: center;
}

.logo{ 
    margin: 25px 0px 25px 200px;
    height: 80px; 
}

.spacer {
    flex: 1;
}

.menu-btn {
    margin-right: 200px;
    height: 40px;  
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
}


.menu-dropdown{
    height: 100vh;
    width: 100vw; 
    background-color: $bg-dropdown;
    position: fixed;
    top: -100vh; 
    left: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
    &.active {
        transform: translateY(100%);
    }
}

.menu-items {
    gap: 55px;
    font-family: $main-font;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 3px 3px white;
    font-size: 50px;
    a {
        color: black;
       &:visited {
        color: black;
       } 
    }
}



.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    text-shadow: 3px 3px $bg-dropdown ; 
}

.parking-title{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

.title-logo {
    height: 100px;
    margin-top: 0;
}

 .slogan {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin: 0; 
 }

 .description {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    margin: 50px 0px 50px 0px ;
    img {
        margin-right: 10px; // Adjust the margin as needed
        margin-left: 30px;
    }
}

.ev {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }


 .features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(255,198,27, 70%);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

 .column {
    flex: 0 0 30%; /* Adjust the width of the columns as needed */
    height: fit-content;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 6.45px;
    box-sizing: border-box;
    h2 {
        font-family: 'Inter', sans-serif;
    }
    p {
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 25px;
    }
}

 .reserve {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: $bg-dropdown;
    border: 4px solid black;
    border-radius: 6.45px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    img {
        height: 80px; 
    }

    margin-top: 20px;
    margin-bottom: 40px;
 }

 .footer {
    bottom: 0;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 100px; 
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
 }

 .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
 }

 hr { 
    border-top: 3px solid black;
    margin-bottom: 20px;
    width: 100vw;
} 



 .footer-logo {
    height: 40px; 
 }  
 

 .copyright {
    height: 30px;
 }

.parking-container {
    border: 5px solid black;
    box-shadow: 5px 5px $bg-dropdown;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-radius: 6.45px;
    text-align: left;
    background-color: $bg-color;
    width: 700px;
}

.container-2 {
    border: 5px solid black;
    box-shadow: 5px 5px $bg-dropdown;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 6.45px;
    text-align: center;
    background-color: $bg-color;
    width:800px;
}

.location {
    border: 4px solid black;
    box-shadow: 5px 5px black;   
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 6.45px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 10px;
    gap: 50px;
    background-color: $bg-dropdown;
    height: 50px;
    width: 90%;
}

.inputloc {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.available-btn {
    width: 130px;
    height: 40px;
    background-color: black;
    border-radius: 6.45px;
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

.details-btn {
    width: 130px;
    height: 30px;
    padding-top: 12px;
    background-color: $bg-dropdown;
    border-radius: 6.45px;
    border: none;
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}

.title {
    margin-bottom: 20px;
}

.verified {
    height: 150px;
    width: 150px;
}

.reservation {
    display: flex;
    gap: 20px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    padding: 30px;
}


.time {
    padding: 10px; /* Adjust the padding to your liking */
    font-size: 25px; /* Adjust the font size to your liking */
    font-family: 'Pathway Gothic One', sans-serif;;
    border: 3px solid $bg-dropdown; /* Add a border to the input */
    width: 100px;
    border-radius: 5px; /* Add rounded corners */
    margin-bottom: 10px; /* Add some space below the input */
}

.register {
    font-family: 'Inter', sans-serif !important;
    font-weight: bold !important;
    font-size: 12px !important ;
    text-transform: none !important;
    text-align: center;
    margin-left: 85px; 
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 6.45px;
    width: 80px;
}

.forgot {
    font-family: 'Inter', sans-serif !important;
    font-weight: bold !important;
    font-size: 12px !important ;
    text-transform: none !important;
    text-align: center;
    background-color: $main-font;
    color: white;
    padding: 8px;
    border-radius: 6.45px;
    width: 220px;
}

.login {
    background-color: $bg-dropdown !important;
    color: black !important;
    margin-left: 10px;
    border-radius: 6.45px;
    font-family: 'Inter', sans-serif !important;
    font-size: 12px !important;
    letter-spacing: normal !important;
    font-weight: bold !important;
    text-transform: none !important;
}

.custom-1 {
    font-family: $main-font !important; 
    color: black !important;
    font-size: 14px !important;
    font-weight: 600 !important;
        p {
        font-weight: 500;
        font-size: 0.8rem;
        font-style: bold;
    }
}

.custom-2 {
    font-family: $main-font !important; 
    color: $bg-dropdown !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    border: 2px solid $bg-dropdown !important; 
}

.custom-3 {
    font-family: $main-font !important; 
    color: $bg-dropdown !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    }

.contact {
    text-align: center;
    a {
     text-decoration: none;
     margin-left: 10px;
     margin-right: 10px;
    }
}

.location-logo {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust the right position as needed */
    transform: translateY(-50%);
}