@import "colors.scss";

#background-img {
   height: 100vh;
   width: 100vw; 
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
   }
}

// #description {
//     background-color: $bg-dropdown;
//     width: 100%;
//     text-align: center;
//  }


.header {
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;

}

.nav-wrapper{
    display: flex;
    align-items: center;
   
}

.logo{ 
    margin: 25px 0px 25px 200px;
    height: 100px; 
}

.spacer {
    flex: 1;
}

.menu-btn {
    margin-right: 200px;
    height: 50px;  
}


.menu-dropdown{
    height: 100vh;
    width: 100vw; 
    background-color: $bg-dropdown;
    position: fixed;
    top: -100vh; 
    left: 0;
    transition: transform 1s ease-in-out;
    &.active {
        transform: translateY(100%);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    text-shadow: 3px 3px $bg-dropdown ; 
}

.title-logo {
    height: 100px;
    margin-top: 0;
}

 .slogan {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin: 0; 
 }

 .description {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    margin: 50px 0px 50px 0px ;
    opacity: 0.8;
 }

 .reserve {
    width: 300px;
    height: 80px;
    background-color: $bg-dropdown;
    border: 4px solid black;
    border-radius: 6.45px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
 }

 .footer {
    bottom: 0;
    width: 100%;
    height: 70px;
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    align-items: center;
 
 }

.container {
    border: 4px solid black;
    box-shadow: 5px 5px $bg-dropdown;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 6.45px;
    text-align: center;
    background-color: $bg-color;
    height: fit-content;
}

.title {
    margin-bottom: 20px;
}


