/* Mobile styles */
@media only screen and (max-width: 667px) {
  
    .flex-container {
      flex-direction: column; /* Stack elements vertically on small screens */
      text-align: center;
       border: 5px solid aqua;
      padding: 10px;
    }

    .header {
      padding: 40px 30px 40px 30px;
    }

    .about-me {
      display: block;
    }

    .title-logo {
        width: 95vw;
    }

    .spacer {
      flex: 1; 
    }

    .slogan {
       width: 95vw;
       font-size: 20px;
    }

  
    .features {
      flex-direction: column;
    }

    .parking-container {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      width: 100%;
    }

    .parking-description {
      margin: 0;
    }

    .menu-items {
      gap: 20px;
      text-shadow: 2px 2px white;
      font-size: 30px;
  }


    iframe {
      width: 370px;
      height: 300px;
    }
 
  }
  
  
  /* Tablet styles */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjustments for tablet-sized screens */
    body {
      font-size: 16px; /* Adjust font size for medium-sized screens */
    }
  
    /* Add more specific styles for tablet-sized screens as needed */
  }
  
  /* Larger screens (desktop) */
  @media only screen and (min-width: 1025px) {
    /* Your default styles for larger screens */
  }
  