/* Mobile styles */
@media only screen and (max-width: 667px) {
  
    .flex-container {
      flex-direction: column; /* Stack elements vertically on small screens */
      text-align: center;
      border: 5px solid aqua;
      padding: 10px;
    }

    .header {
        margin: auto; 
    }

    .spacer {
      flex: 3; 
    }


    .title-logo {
        width: 95vw;
    }

    .menu-items {
      
    }

    .slogan {
       // width: 95vw;
       font-size: 12px;
    }

    .description {

    }

    .reserve {
         
    }

    .features {
      flex-direction: column;
    }


  
 
  }
  
  /* Tablet styles */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjustments for tablet-sized screens */
    body {
      font-size: 16px; /* Adjust font size for medium-sized screens */
    }
  
    /* Add more specific styles for tablet-sized screens as needed */
  }
  
  /* Larger screens (desktop) */
  @media only screen and (min-width: 1025px) {
    /* Your default styles for larger screens */
  }
  